.info_section {
    background-color: #0f1521;
    color: #ffffff;
}

.info_section .info_logo {
    width: 80%;
    margin: 0 auto 45px auto;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

.info_section .info_logo h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.info_section h5 {
    margin-bottom: 25px;
    font-size: 24px;
}

.info_section .info_insta .insta_container>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.info_section .info_insta .insta_container img {
    width: 100%;
}

.info_section .info_insta .insta_container .insta-box {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.info_section .info_contact .img-box {
    width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.info_section .info_contact p {
    margin: 0;
}

.info_section .info_contact>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0;
}

.info_section .info_contact>div img {
    height: auto;
    margin-right: 12px;
}

.info_section .info_form form input {
    outline: none;
    width: 100%;
    padding: 7px 10px;
}

.info_section .info_form form button {
    display: inline-block;
    padding: 8px 30px;
    background-color: #24d278;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 0;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
}

.info_section .info_form form button:hover {
    background-color: transparent;
    border-color: #24d278;
    color: #24d278;
}

.info_section .info_form .social_box {
    margin-top: 35px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.info_section .info_form .social_box a {
    margin-right: 25px;
}

/* footer section*/
.footer_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fdfeff;
}

.footer_section p {
    color: #171717;
    margin: 0;
    padding: 25px 0 20px 0;
    margin: 0 auto;
    text-align: center;
}

.footer_section a {
    color: #171717;
}