body {
    font-family: 'Open Sans', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
}

.hero_area {
    height: 100vh;
    background-image: url(../../public/images/hero-bg.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
}

.hero_area::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-image: url(../../public/images/hero-side-bg.png);
    background-size: cover;
}

.sub_page .hero_area {
    height: auto;
    background-size: auto;
}

.hero_area.sub_pages {
    height: auto;
}