.trending_section {
    background-color: #f4f5f7;
}

.trending_section .tab_container .t-link-box {
    margin: 65px 0;
    color: #24d278;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.trending_section .tab_container .t-link-box h5 {
    margin: 0;
}

.trending_section .tab_container .t-link-box hr {
    background-color: #24d278;
    width: 60px;
    height: 1.5px;
    border: none;
    margin: 0 65px 0 5px;
}

.trending_section .tab_container .t-link-box .t-name {
    color: #252525;
}

.trending_section .tab_container .t-link-box:hover {
    cursor: pointer;
}

.trending_section .tab_container .t-link-box[aria-expanded="true"] .t-name {
    color: #24d278;
}

.trending_section .img_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.trending_section .img_container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.trending_section .img_container .box .img-box {
    margin: 15px;
}

.trending_section .img_container .box .img-box img {
    width: 100%;
}

.trending_section .img_container .box.b-1 {
    padding-top: 35px;
}